.card_container {
  padding: 16px 8px;
  box-shadow: 7px 8px 0px rgba(0, 0, 0, 0.1);
  border-top: 2px solid #0044dd;
  border-left: 2px solid #0044dd;
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  height: max-content;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.card_container:hover {
  box-shadow: 7px 8px 5px rgba(0, 0, 0, 0.2);
}

.card_avatar {
  border-radius: 15px;
  object-fit: cover;
}

.card_header {
  display: flex;
  align-items: start;
  column-gap: 10px;
}

.card_date {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.card_title {
  margin: 0;
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  margin-top: 10px;
  border-bottom:1px solid #0044dd ;
}
.card_date_title {
  font-weight: 300;
  font-size: 14px;
}
.card_date_date {
  font-weight: 400;
  font-size: 14px;
}

.card_pencil {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.card_description {
  font-weight: 300;
  font-size: 14px;
  height: 0px;
  transition: ease-in 0.5s;
  overflow: hidden;
}

.card_description_show {
  height: auto;
}

.card_expand {
  position: absolute;
  bottom: 10px;
  right: 5px;
  transform: rotate(180deg);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card_collapsed {
  transform: rotate(0deg);
}
.subtitle {
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
}
