.cardsContainer {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    max-width: 1000px;
    margin: auto;
}
  